<div class="menu-category list-group col-md-12">
  <div class="menu-category-name list-group-item active">Add new video</div>
  <div class="menu-item list-group-item">
    <div class="video-add-form form-inline">
      <label class="control-label">Id filmiku:
        <input class="form-control" type="text"
               ng-model="main.tmp_video.url"
               ng-model-options="{ debounce: 500 }"
               ng-change="main.getPreview()">
      </label>
    </div>
    <div class="video-preview" ng-if="main.showPreview">

      <video-panel title="{{main.tmp_video.title}}" vid-url="{{main.ytPrefix + main.tmp_video.url}}" vid="main.tmp_video.video"></video-panel>

      <div class="button btn btn-default" ng-click="main.addTmpVideo()">Dodaj do biblioteki</div>
      <div class="button btn btn-default" ng-click="main.clearTmpVideo()">Anuluj</div>
    </div>
  </div>
</div>


<!-- random video id: HmWm21cCAXM -->
